<p>ノウハウ詳細</p>
 <li class = "media mb-3">
        <div class = "media-body">
            <div>
                <span class= "text-muted">create at <%= @knowhow.created_at %></span>
            </div>
            <div>
                <p>タイトル</p>
                <p><%= @knowhow.title %></p>
            </div>
            <div>
                <p>内容</p>
                <p><%= @knowhow.content %></p>
            </div>
            
            <div>
                <%=render 'favorites/favorite_button', knowhow: @knowhow %>
            </div>
            
            <br>
            
            <% if current_user == @knowhow.pocket.user %>
            <p>
              <strong>ノウハウ掲示板に投稿:</strong>
                <%= check_box_tag 'knowhow[posted]', true, @knowhow.posted, {
                    onchange: '$(this).data("params", "knowhow[posted]=" + this.checked)',
                    data: {
                        url: knowhow_url + '/knowhow_posted/',
                        method: :post,
                        remote: true
                    }
                } %>
                
                
                
              <span id="true_or_false">
                  <% if @knowhow.posted == true %>
                     <span class="true">posted</span>
                  <% else %>
                     <span class="false">not posted</span>
                  <% end %>
              </span>
            </p>
           
        
            <div>
              
                <%= link_to "タイトル 内容を編集する", edit_knowhow_path(@knowhow),  class: "btn btn-primary btn-sm" %>
            </div>
             <% end %>
            <div>
               <%= link_to "ポケット一覧", pockets_user_path(current_user) %>
            </div>
            
            <div>
               <%= link_to "ノウハウ掲示板", posted_knowhows_knowhow_path %>
            </div>
        </div>
    </li>